body {
    background-color: navajowhite;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    margin: 10px;
    padding: 10px;
}

div.title-box {
    background-color: white;
}

div.main {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

div.section {
    background-color: white; 
}

p{
    display: flex;
    flex-direction: column;
    margin: 10px  
}

div {
    border-radius: 10px;
}

div.section:hover {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
}

img.section {
    width: 50px;
    height: 50px;
}

img.HomeButton {
    margin: 10px;
    width: 50px;
    height: 50px;
}

img.diagram {
    margin: 10px;
    width: 100px;
    height: 100px;
}

p {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}